{{ partial "header.html" . }}

<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="/"><span class="fas fa-ghost fa-2x"></span></a>
                    </div>
                    <div class="content">
                        <div class="inner">
                            <p>
                                You seem lost, there are only ghosts down here.
                            </p>
                            <h1><a href="{{ "/" | relURL }}">Go Home</a></h1>
                        </div>
                    </div>
                </header>

                {{ partial "design.html" .}}

        </div>

    <!-- BG -->
    <div id="bg"></div>

</body>

{{ partial "footer.html" . }}